.faneron-container
	h1 Explore
	.projects-container.cf
		.thumbnail-box-wrapper(ng-repeat="project in projects")
			.thumbnail-box
				.thumbnail-overlay
					h2 {{project.info.title}}
					h5 Created {{project.time}}
					h3 {{project.info.genre}}
					a(class='overlay-button-container' ng-href='/projects/{{project._id}}'): button.btn.btn-primary See More