//- Template for landing page of faneron.com
h1 K guise, before you sign up for the temporary version of Faneron, please note that there's a bunch of stuff that is still pretty jank. FOR EXAMPLE – you can't do much with your profile yet (i.e. editing and shit), but you CAN create a project AND add comments to it. The comments on the project page are only showing one level of replies, and we are hoping to work on that soon. Also, no image uploads quite yet, so yeah.
h1 Anyway, pls bear with me, as we're working to make the site not suck, so yeah. Enjoy what we have so far though!
.faneron-container
	a(href="/signup")
		.btn.btn-default Sign Up
	a(href="/login")
		.btn.btn-default Log In