//- Nested ui-view for user projects
h1(ng-if="projects.length === 0") No projects yet!
a(ui-sref=".new"): button.btn.btn-primary Add a project
<div ui-view> </div>
.projects-container
	.thumbnail-box-wrapper(ng-repeat='project in projects')
		.thumbnail-box
			.thumbnail-overlay: h2 {{project.info.title}}
				h5 Created {{project.time}}
				h3 {{project.info.genre}}
				a(class='overlay-button-container' ng-href='/projects/{{project._id}}'): button.btn.btn-primary(type='submit') See More