h1 Artwork

button.btn.btn-primary(ng-click="toggleGrid()") {{gridToggled ? "Normal View" : "Grid View"}}

#image-container.cf
	img(ng-repeat="image in $parent.user.art" ng-src="{{image}}").image-card
