//- Template for user profile page
.faneron-container
	.profile-info
		.profile-header
			.crop-box
				img.profile-picture(alt="placeholder", src="/images/splash.jpg")
			.basic-info
				h1.username {{user.info.username}}
				h4.email {{user.info.email}}
				h3.experience: span {{user.rank.xp}} Experience
				
		.profile-nav
			ul.nav.nav-pills
				//- ui-sref-active binds the "active" class to the li if the program is at the ui-sref specified in the a
				li(ui-sref-active="active") 
					a(ui-sref=".bio") Bio
				li(ui-sref-active="active")
					a(ui-sref=".projects") Projects
				//li(ui-sref-active="active")
					a(ui-sref=".thoughts") Thoughts
				li(ui-sref-active="active")
					a(ui-sref=".art") Artwork
		//- have to put this here to render sub-views in jade (weird jade bug)
		<div class="profile-view" ui-view></div>
		
