//- Nested ui-view template for user bios
h1 Bio
	a(ng-show="loggedInUser._id === user._id" href="#" ng-click="editBioToggled=!editBioToggled").edit-button
		i.fa.fa-fw.fa-pencil 
form(ng-show="editBioToggled" ng-submit="editBio(); editBioToggled=false;").bio-edit
	.form-group
		textarea.form-control(type="text" placeholder="write your bio here" ng-model="bio" ng-init="bio=user.bio")
	button.btn.btn-primary.btn-inline(type="submit") Submit
	a(href="#" ng-click="editBioToggled=false").cancel-button Cancel
p(ng-show="!editBioToggled" style="white-space: pre-wrap;").profile-bio {{user.bio}}
