.large-overlay-wrapper#large-overlay-wrapper
	.large-overlay#large-overlay
		span(ui-sref="profile.projects").overlay-close-button &#10006;
		h1 Create Project
		form(ng-submit='createProject()')
			input.form-control(type='text', ng-model='title', placeholder='title' required autofocus)
			input.form-control(type='text', ng-model='genre', placeholder='genre' required)
			input.form-control(type='text', ng-model='tagline', placeholder='tagline' required)
			textarea.form-control(placeholder='description' rows='3' ng-model='description')
			button.btn.btn-primary(type='submit') Submit