h1 Artwork
br
a(href="#" ng-click="toggle=true" ng-show="$parent.loggedInUser._id === $parent.project._user._id && !toggle").btn.btn-primary.btn-inline Add artwork
button.btn.btn-primary.btn-inline(ng-click="toggleGrid()") {{gridToggled ? "Normal View" : "Grid View"}}

form(role="form", action="/s3/upload", method="post", enctype="multipart/form-data" ng-show="$parent.loggedInUser._id === $parent.project._user._id && toggle").bio-edit
	input(name="project_id", hidden, ng-model="project_id")
	input(name="file" accept="image/*" type="file" required)
	.form-group
		input(type="submit", value="Submit").btn.btn-primary.btn-inline
		a(href="#" ng-click="toggle=false").cancel-button Cancel

#image-container.cf
	img(ng-repeat="image in project.image" ng-src="{{image}}").image-card
