//- Template for video game project page
.project-wrapper
	.faneron-container
		.project-header
			h1.project-title {{info.title}}
			//- Fix dis shit lata
			h3.project-description {{info.genre}}
		.project-nav
			.container-fluid
				ul.nav.nav-pills
					li: a home
					li: a gameplay
					li: a artwork
					li: a lore
		.project-info(ui-view)

