//- Template for video game project page
.project-wrapper
	.faneron-container
		.project-header
			h1.project-title {{info.title}}
			h3 {{info.tagline}}
		.project-nav
			ul.nav.nav-pills
				li(ui-sref-active="active"): a(ui-sref=".description") home
				li: a gameplay
				li: a artwork
				li: a lore
				li: a comments
		<div class="project-info" ui-view> </div>