h1 Description
	a(ng-show="$parent.loggedInUser._id === $parent.project._user._id" href="#" ng-click="toggled=!toggled; description = $parent.project.info.description").edit-button
		i.fa.fa-fw.fa-pencil
form(ng-show="toggled" ng-submit="update(); toggled=false;").bio-edit
	.form-group
		textarea.form-control(type="text" placeholder="write your project description here" ng-model="description")
	button.btn.btn-primary.btn-inline(type="submit") Submit
	button.btn.btn-primary.btn-inline(type="reset" ng-click="toggled=false") Cancel
p(ng-show="!toggled" style="white-space: pre-wrap").project-body: big {{ $parent.project.info.description }}
