//- Template for video game project page
.project-wrapper
	.faneron-container
		.project-header
			h1.project-title {{project.info.title}}
			h3 {{project.info.tagline}}
			h5 {{moment}}
		.project-nav
			ul.nav.nav-pills
				li(ui-sref-active="active"): a(ui-sref=".description") home
				li(ui-sref-active="active"): a(ui-sref=".gameplay") gameplay
				li(ui-sref-active="active"): a(ui-sref=".images") artwork
				li(ui-sref-active="active"): a(ui-sref=".lore") lore
				li(ui-sref-active="active"): a(ui-sref=".comments") comments
		<div class="project-info" ui-view> </div>
