h1 Discussion 
br
button.btn.btn-primary(ng-click="showCommentForm=true" ng-show="!showCommentForm") New Thread 

form(ng-submit="addComment()" ng-show="showCommentForm").comment-form
	.form-group
		input.form-group(type="text" placeholder="subject" ng-model="subject")
	.form-group
		textarea.form-group(type="text" placeholder="first post here..." ng-model="comment")
	.form-group
		button.btn.btn-primary.btn-inline(type="submit") submit
		a(href="#" ng-click="showCommentForm=false") cancel

p(ng-if="!comments"): big Loading...

div(ng-repeat="comment in comments").comment

	h3.comment-user.comment-username Subject: {{comment.text.subject}}
	h4.comment-user 
		a(ng-href="/users/{{comment._user.info.username}}").comment-username {{comment._user.info.username}}
		small.comment-time &nbsp; Posted {{moment(comment.timestamp).fromNow()}} |
		small.comment-score {{comment.vote.votes}} points
		
	p(style="white-space: pre-wrap").comment-text {{comment.text.comment}} &nbsp;
	.comment-buttons
		strong: a(href="#" ng-click="$root.replyBoxFor = comment._id") reply
		i.fa.fa-fw.fa-chevron-up.vote-button(ng-click="up(comment._id)" ng-class="{'vote-highlight': comment.vote.upvoters.indexOf(loggedInUser._id) != -1}")
		i.fa.fa-fw.fa-chevron-down.vote-button(ng-click="down(comment._id)" ng-class="{'vote-highlight': comment.vote.downvoters.indexOf(loggedInUser._id)!= -1}")

	form(ng-submit="createReply(comment._id)" ng-if="$root.replyBoxFor === comment._id").comment-form
		.form-group
			textarea.form-group(type="text" placeholder="type your reply here...")#reply-box
		.form-group
		button.btn.btn-primary.btn-inline(type="submit") submit
		a(href="#" ng-click="$root.replyBoxFor = null") cancel

	a.continue-thread-button(href="/comments/{{comment._id}}") view this thread 
	
