#login-box-container
	#login-box
		h1 Create a Profile
		form(ng-submit='signup()')
			.form-group
				input.form-control(type='email', placeholder='email', ng-model="email")
			.form-group
				input.form-control(type='text', placeholder='username', ng-model="username")
			.form-group
				input.form-control(type='password', placeholder='password', ng-model="password")
			.form-group
				input.form-control(type='password', placeholder='retype password', ng-model="confirm")
			button.btn.btn-primary(type='submit') Create Profile	
