//- Page contains app-wide navbar
extends layout

block body
	.navbar.navbar-fixed-top(role="navigation", ng-controller="navCtrl")
		.container-fluid
			.navbar-header
				button(type="button", data-toggle="collapse", data-target=".myNav").navbar-toggle
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/")
					img(src="/images/_0000_Faneron.png")
			.navbar-collapse.collapse
				//- .collapse.in thing is a total hack, but hey, it works! :)
				ul.nav.navbar-nav.collapse.in.myNav 
					li(ui-sref-active="active"): a(ui-sref="explore") EXPLORE
					li(ui-sref-active="active"): a(ui-sref="newProject") START
				ul.nav.navbar-nav.navbar-right.icon-nav.collapse.in.myNav(ng-if="loggedIn")
					li: a(ng-href="/users/{{user.info.username}}").profile-link 
						//a(href="/", data-toggle="collapse").search-link 
						//a(href="/", data-toggle="collapse", data-target=".myNav").messages-link
						a(ng-click="logout()", data-toggle="collapse").logout-link: small Log Out
	.background-wrapper
	#wrapper(ui-view)
	script $('.collapse').collapse();
