extends layout

block body
	.navbar.navbar-fixed-top
		.container-fluid
			.navbar-head
				a.navbar-brand(href="/") FANERON
			ul.nav.navbar-nav
				li: a(href='#') EXPLORE
				li: a(href='#') THINK
				li: a(href='#') STUDIO
				li: a(href='#') WHY

	#wrapper(ng-view)
