/* login.css */

#signup-box-container {
	background: url('/images/splash.jpg') no-repeat top;
}

#login-box-container {
	background: url('/images/splash.jpg') no-repeat top;
}

#login-box-container, #signup-box-container {
	width: 100%;
	background-size: 100% auto;
	padding: 160px;
}

#login-box {
	width: 360px;
	margin: auto;
	background-color: white;
	padding: 40px;
	box-shadow: 0px 0px 10px #474747;
	position: relative;
	/* fadein defined in style.css */
	-webkit-animation: fadein 0.75s;
	-moz-animation: fadein 0.75s;
	-o-animation: fadein 0.75s;
	animation: fadein 0.75s;
}

#login-box > h1 {
	margin: 0 0 20px 0;
	text-align: center;
}

#login-box form .btn.btn-primary {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 800px) {
	#login-box-container, 
	#signup-box-container {
		padding: 70px 0;
		background-size: auto 1000px;
	}

	#login-box {
		position: auto;
	}
}





