/* login.css */
#login-box-container {
	width: 100%;
	background: url('/images/splash.jpg') no-repeat top;
	background-size: 100% auto;
	padding: 160px;
}

#login-box {
	width: 360px;
	height: 380px;
	margin: auto;
	background-color: white;
	padding: 20px 40px;
	box-shadow: 0px 0px 10px #474747;
	position: relative;
	/* fadein defined in style.css */
	-webkit-animation: fadein 0.75s;
	-moz-animation: fadein 0.75s;
	-o-animation: fadein 0.75s;
	animation: fadein 0.75s;
}

#login-box > h1 {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
}

#login-box form .btn.btn-primary {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

