/* login.css */

#signup-box-container {
}

#login-box-container {
}

#login-box-container, #signup-box-container {
	width: 100%;
	background-size: 100% auto;
	padding: 11% 160px;
}

#login-box {
	width: 400px;
	margin: auto;
	background-color: white;
	padding: 30px 75px;
	box-shadow: 0px 0px 10px #474747;
	position: relative;
	/* fadein defined in style.css */
	-webkit-animation: fadein 0.75s;
	-moz-animation: fadein 0.75s;
	-o-animation: fadein 0.75s;
	animation: fadein 0.75s;
}

#login-box h1 {
	font-size: 17pt;
	margin: 0 0 30px 0;
	text-align: center;
}

#login-box form .btn.btn-primary {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.btn.btn-primary {
	width: 150px;
	padding: 10px 20px;
	font-size: 85%;
	display: block;
	background-color: black;
	font-weight: 300;
	font-size: 12px;
}

.form-control {
	box-shadow: inset 0 0 1px 2px rgba(242, 242, 242, 0.4);
	font-size: 11pt;
	margin: 20px auto;
	height: 40px;
}


/* Fix weird looking backgorund when shrinking window */
@media(max-width: 1100px) {
	#login-box-container,
	#signup-box-container {
		background-size: 150% auto;
	}
}

@media (max-width: 800px) {
	#login-box-container, 
	#signup-box-container {
		padding: 120px 0;
		background-size: auto 700px;
	}

	#login-box {
		width: 360px;
		position: auto;
	}
}





