.profile-info {
	display: inline-block;
	width: 100%;
	position: relative;
}

.profile-header {
	margin-top: 10px;
	margin-bottom: 50px;
	display: block;
	width: 100%;
	height: 175px;
}

.basic-info {
	display: block;
	float: left;
}

.crop-box {
	height: 170px;
	width: 170px;
	border-radius: 125px;
	overflow: hidden;
	margin-right: 30px;
	float: left;
}

.profile-picture {
	min-width: 100%;
	max-height: 100%;
}

.profile-nav {
	background-color: white;
	position: relative;
	z-index: 997;
	left: -50px;
	top: 0;
	display: inline-block;
	margin-bottom: 20px;
	box-shadow: 0 0 8px rgba(51, 51, 51, 0.45);
}

.nav-pills li a {
	border-radius: 0;
	font-size: 150%;
}

/* Fix weird bootstrap thing where 
there's a 2px margin between pills*/
.nav-pills > li + li {
	margin-left: 0;
}

/* Bootstrap replacement */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
  background-color: white;
  color: #3a90ff;
  position: relative;
  top: -5px;
  z-index: -1;
}

.nav-pills > li.active {
  height: 50px;
  border-top: 5px solid black;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Remove the ugly AF firefox link outline of shitness */
.nav.nav-pills li a:focus {
	outline: none;
}

.profile-view {
	margin: 0 20px 20px 20px;
}

.profile-view p {
	font-size: 125%;
}

/* Animations */
.profile-view[ui-view].ng-enter,
.profile-view[ui-view].ng-leave {
	position: relative;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

.profile-view[ui-view].ng-enter {
	opacity: 0;
}

.profile-view[ui-view].ng-enter-active {
	opacity: 1;
}

.profile-view[ui-view].ng-leave {
	display: none;
}

/* Projects page of profile */
.projects-container {
	margin-top: 20px;
	height: auto;
}

.thumbnail-box-wrapper {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	width: 33%;
	padding-bottom: 33%;
	float: left;
}

.thumbnail-box {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: url('/images/splash.jpg') no-repeat top;
	background-size: cover;
	position: absolute;
	width: 90%;
	margin-left: 5%;
	height: 90%;
	margin-top: 5%;
}

.thumbnail-overlay {
	-webkit-transition: 0.25s all ease;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 997;
	color: white;
	padding: 15px;
	opacity: 0;
	text-align: center;
	cursor: default;
}

.thumbnail-overlay:hover {
	opacity: 1;
}

.thumbnail-overlay > * {
	display: inline-block;
	overflow: hidden;
	color: white;
	width: 100%;
}

.thumbnail-overlay .btn.btn-primary {
	background-color: black;
	border: 1px solid white;
	width: 100%;
	font-weight: 300;
}

.thumbnail-overlay .btn.btn-primary:hover {
	background-color: white;
	color: black;
	text-decoration: underline;
}

.overlay-button-container {
	margin-right: auto;
	margin-left: auto;
	width: 100px;
	padding: 0;
}

.large-overlay-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 40px auto;
	z-index: 998;
	background-color: rgba(0, 0, 0, 0.9);
	overflow: scroll;
}

.large-overlay {
	text-align: center;
	padding: 40px;
	width: 380px;
	margin: auto;
	position: relative;
	top: 150px;
	background-color: white;
	z-index: 999;
	position: relative;
}

.large-overlay textarea {
	resize: none;
}

.overlay-close-button {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 150%;
	-webkit-transition: 0.1s all ease-in;
	transition: 0.1s all ease-in;
}

.overlay-close-button:hover {
	-webkit-transform: scale3d(1.2, 1.2, 1.2);
}

span[ui-sref="profile.projects"] {
	cursor: pointer;
}

/* responsiveness-ish */
@media (max-width: 550px) {

	.profile-header {
		margin-bottom: 20px;
	}

	.basic-info {
		float: left;
	}

	.crop-box {
		margin-bottom: 20px;
	}

	.profile-nav {
		left: -30px;
		margin: 10px auto;
	}

	.profile-view {
		padding: 10px;
		margin: 0;
	}
}

@media (max-width: 700px) {
	.thumbnail-box-wrapper {
		width: 50%;
		padding-bottom: 50%;
	}
}

@media (max-width: 500px) {
	.thumbnail-box-wrapper {
		width: 100%;
		padding-bottom: 100%;
	}
}