@font-face {
  font-family: "Dolce Vita Light";
  src: url('/Dolce_Vita_Light.ttf');
}

@font-face {
  font-family: "Dolce Vita";
  src: url('/Dolce_Vita.ttf');
}

body {
	padding-top: 60px;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a:hover {
	color: #3a90ff;
}

.nav, .navbar-brand {
	font-family: 'Dolce Vita Light', sans-serif;
  letter-spacing: 1px
}

.nav-pills {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300;
}

/* Global animations */
@-webkit-keyframes fadein {
  	from { opacity: 0; 
  		   top: -25px;
  		 }
  	to { opacity: 1; 
  		 top: 0px;
  		}
}

@-moz-keyframes fadein {
  	from { opacity: 0; 
  		   top: -25px;
  		 }
  	to { opacity: 1; 
  		 top: 0px;
  		}
}

@-o-keyframes fadein {
  	from { opacity: 0; 
  		   top: -25px;
  		 }
  	to { opacity: 1; 
  		 top: 0px;
  		}
}

@-keyframes fadein {
  	from { opacity: 0; 
  		   top: -25px;
  		 }
  	to { opacity: 1; 
  		 top: 0px;
  		}
}

/* End animations */

#wrapper {
	padding: 0; 
}

/* General container shit used throughout the app */
.faneron-container {
  width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.45);
  padding: 50px;
  background-color: white;
}

.navbar {
	box-shadow: 0 0 8px rgba(51, 51, 51, 0.45);
	background-color: white;
}

.navbar, 
.navbar .container-fluid,
.navbar .container-fluid ul,
.navbar .container-fluid ul li,
.navbar .container-fluid ul li a {
	height: 60px;
	margin: 0;
}

.navbar-brand,
.navbar .container-fluid ul li a {
	padding: 20px 20px 16px 20px;
	line-height: 22px;
  font-size: 18px;
  letter-spacing: 4px;
}

.navbar-brand {
  font-size: 32px;
  height: 100%;
  padding: 0 30px 0 0;
}

.navbar-brand img {
  height: 100%;
}

.navbar-nav {
  font-size: 24px;
  background-color: white;
}

/*.navbar .container-fluid ul li a:hover {
	background-color: white;
	color: black;
}*/

/* disable highlighting for the active link */
/*.navbar .container-fluid ul li.active a:hover {
  background-color: transparent;
  color: black;
}*/

li a p small {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* used by ui-sref-active */
.nav li.active {
  border-top: 5px solid black;
}

.nav li.active > a {
  position: relative;
  top: -5px;
}

/* end used by ui-sref-active */

.profile-link {
  background: url('/images/_0002_Profile.png') no-repeat;
}

.messages-link {
  background: url('/images/_0001_Message.png') no-repeat;
}

.search-link {
  background: url('/images/_0003_Search.png') no-repeat;
}

.logout-link {
  padding-left: 20px;
  height: 100%;
  float: left;
  background-color: transparent;
  cursor: pointer;
}

.navbar .container-fluid ul li a.logout-link:hover {
  background-color: transparent;
}

.profile-link, .messages-link, .search-link, .logout-link {
  background-size: auto 20px;
  background-position: center;
  margin: 0;
  float: left;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -o-transition: 0.25s linear;
  transition: 0.25s linear;
}

.icon-nav {
  padding-right: 80px;
}

.navbar .container-fluid ul li a.profile-link, 
.navbar .container-fluid ul li a.messages-link,
.navbar .container-fluid ul li a.search-link {
  height: 20px;
  width: 20px;
  padding: 0 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Prevent default hover behavior */
.navbar .container-fluid ul li a.profile-link:hover, 
.navbar .container-fluid ul li a.messages-link:hover,
.navbar .container-fluid ul li a.search-link:hover {
  /* Prevent default background highlighting of nav links */
  background-color: transparent;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* mousedown transform */
.navbar .container-fluid ul li a.profile-link:active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

a {
	color: black;
}

/* Allow absolute positioned popup-alert to be positioned
relative to the form group it's associated with*/
.form-group {
  position: relative;
}

.form-control {
	border-radius: 0;
}

form p {
  margin-bottom: 0;
  font-weight: 400;
}

.input-error,
.input-error:focus {
  border-color: #A94442;
  box-shadow: 0 0 10px #ebccd1;
}

.popup-alert {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  padding: 2px 5px;
  top: 34px;
  right: 0;
  display: block;
}

.btn {
	border-radius: 0;
}

.btn.btn-primary {
  border: none;
  margin: 0;
}

.btn.btn-primary.btn-inline {
  display: inline-block;
  margin-right: 10px;
}

/* Toggle button for mobile menu */
.icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
}

button.navbar-toggle {
  margin-top: 13px;
  margin-bottom: 13px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.project-body {
  margin-top: 20px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

@media (max-width: 950px) {
  .container-fluid {
    border: none;
  }
  .faneron-container {
    width: 100%;
  }
  .navbar-brand,
  .navbar .container-fluid ul li a {
    padding: 20px 10px 16px 10px;
    letter-spacing: 3px;
  }
  .navbar-brand {
    padding: 0 20px 0 0;
  }
  .icon-nav {
    padding-right: 10px;
  }
}

@media (max-width: 550px) {
  .faneron-container {
    padding: 30px;
  }
}

/* Bootstrap hack for navbar collapsing -___- */
@media (min-width: 767px) {
  .collapse {
    display: block;
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    border-left: 1px solid rgba(0, 0, 0, 0.33);
    border-bottom: 1px solid rgba(0, 0, 0, 0.33);
    border-right: 1px solid rgba(0, 0, 0, 0.33);
    position: relative;
  }
}

