body {
	padding-top: 60px;
	margin: 0;
	font-family: 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6, li a, .navbar-brand {
	font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Global animations */
@-webkit-keyframes fadein {
  	from { opacity: 0; 
  		   top: -25px;
  		 }
  	to { opacity: 1; 
  		 top: 0px;
  		}
}

@-moz-keyframes fadein {
  	from { opacity: 0; 
  		   top: -25px;
  		 }
  	to { opacity: 1; 
  		 top: 0px;
  		}
}

@-o-keyframes fadein {
  	from { opacity: 0; 
  		   top: -25px;
  		 }
  	to { opacity: 1; 
  		 top: 0px;
  		}
}

@-keyframes fadein {
  	from { opacity: 0; 
  		   top: -25px;
  		 }
  	to { opacity: 1; 
  		 top: 0px;
  		}
}

/* End animations */

#wrapper {
	padding: 0; 
}

.navbar {
	box-shadow: 0 0 8px;
	background-color: white;
}

.navbar, 
.navbar .container-fluid,
.navbar .container-fluid ul,
.navbar .container-fluid ul li,
.navbar .container-fluid ul li a {
	height: 60px;
	margin: 0;
}

.navbar-brand,
.navbar .container-fluid ul li a {
	padding: 20px 25px 16px 25px;
	line-height: 24px;
}

.navbar-brand {
  font-size: 32px;
}

.navbar-nav {
  font-size: 24px;
  background-color: white;
}

.navbar-brand:hover {
	color: black;
}

.navbar .container-fluid ul li a:hover {
	background-color: black;
	color: white;
}

.brand-box {
	width: 75px;
	height: 60px;
}

a {
	color: black;
}

.form-control {
	border-radius: 0;
	box-shadow: none;
}

.btn {
	border-radius: 0;
}

/* Toggle button for mobile menu */
.icon-bar {
  background-color: black;
}

button.navbar-toggle {
  margin-top: 13px;
  margin-bottom: 13px;
  border: 1px solid #666666;
}

/* Bootstrap hack for navbar collapsing -___- */
@media (min-width: 768px) {
  .collapse {
    display: block;
  }
}


